<section id="gallery" class="mb-16">
    <h3 class="text-2xl font-semibold mb-6 border-b pb-2 border-slate-300">Gallery</h3>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <img src="IMG_1001.jpg" alt="test" class="w-full h-auto rounded shadow" />
        <img src="IMG_1290.jpg" alt="" class="w-full h-auto rounded shadow" />
        <img src="porchBefore.jpg" alt="porchBefore" class="w-full h-auto rounded shadow" />
        <img src="porchAfter.jpg" alt="porchAfter" class="w-full h-auto rounded shadow" />
        <img src="KitchenBefore.jpg" alt="KitchenBefore" class="w-full h-auto rounded shadow" />
        <img src="KitchenAfter1.jpg" alt="KitchenAfter1" class="w-full h-auto rounded shadow" />
        <img src="KitchenAfter2.jpg" alt="KitchenAfter2" class="w-full h-auto rounded shadow" />
        <img src="BigPorchBefore.jpg" alt="BigPorchBefore" class="w-full h-auto rounded shadow" />

    </div>
</section>